@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap);
body {
	font-family: Montserrat, sans-serif!important
}
.index-page .contents-section .feture-details .feature-list .task-card .learn-more svg {
	margin-left: 2rem;
	height: 20px
}
.navbar-brand {
	padding: 4px 15px 4px 10px!important
}
.navbar-toggle .icon-bar {
	display: block;
	width: 40px!important;
	height: 4px!important;
	border-radius: 5px!important
}
ul.nav.navbar-nav.navbar-right {
	display: block
}

@media(max-width:767px) {
.container>.navbar-header {
	width: 100%
}
.navbar .container {
	padding-right: 0
}
button.navbar-toggle {
	padding-right: 0!important;
	padding-top: 0;
	margin-right: 0!important
}
p.head1 {
	font-size: 28px
}
.navbar-collapse {
	position: absolute!important;
	z-index: 4!important;
	background: #fff!important;
	width: 100%!important;
	left: 15px!important
}
.col-lg-6.column2 {
	margin: 10% 0!important
}
.navbar-brand>img {
	height: 40px
}
.fixed-section {
	bottom: 2em
}
.sec1 {
	padding: 5% 2.5em 5% 2.5em
}
}
.navbar-toggle .icon-bar {
	background: #f45d48
}
.navbar-toggle {
	right: 0
}

@media(min-width:1200px) {
.row1 {
	padding: 3% 0
}
}

@media (min-width:768px) {
.sec1 {
	padding: 5% 0 5% 5em
}
.fixed-section {
	bottom: 0
}
.navbar-nav {
	display: block
}
p.head1 {
	font-size: 40px
}
.navbar-header {
	padding: 10px 0
}
.navbar-brand>img {
	height: 55px
}
}
.navbar {
	border-radius: 0;
	padding-bottom: 5px;
	box-shadow: 0 0 9px #777
}
a.button1 {
	border: 1px solid #162542;
	font-style: normal;
	font-weight: 600;
	transition: .5s;
	font-size: 16px;
	line-height: 75px;
	display: flex;
	align-items: center;
	text-align: center;
	color: rgba(22,37,66,.81)
}
a.button1:hover {
	color: #fff;
	background: #162542!important
}
ul.nav.navbar-nav.navbar-right li {
	margin: 10px 10px
}
a.button2 {
	color: #fff;
	border: 1px solid #f45d48;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	transition: .5s;
	line-height: 75px;
	display: flex;
	background: #f45d48;
	align-items: center;
	text-align: center
}
a.button2:hover {
	color: #f45d48;
	background: #fff!important
}
.section1 {
	height: 100vh;
	overflow: hidden
}
.section1 .column2 {
	margin: 0 auto;
	text-align: center
}
.section1 .column2 iframe {
	width: 80%;
	height: 100%
}
.image-section {
	width: 100%;
	display: flex
}
.fixed-section {
	position: fixed;
	width: 100%
}
.fixed-section.active {
	position: relative;
	bottom: auto
}
.image-section>div.img {
	padding: 0
}
.image-section>div.img>img {
	width: 100%;
	height: 100%
}
.section1 .col-lg-6, .section1 .container-fluid {
	padding: 0!important
}
.sec1 {
	background: #f45d48;
	margin: 10% 1em
}
p.head1 {
	font-weight: 600;
	color: #fff
}
p.head2 {
	font-size: 17px;
	color: #fff;
	font-weight: 600
}
.hover {
	position: absolute;
	top: 1px;
	width: 100%;
	color: #fff;
	height: 100%;
	background: rgb(0 0 0 / .81);
	text-align: center;
	padding: 25% 0;
	font-size: 20px;
	font-weight: 500;
	opacity: 0;
	transition: .5s
}
.section1 .image-section .img:hover .hover {
	transition: .5s;
	opacity: 1
}
button.navbar-toggle[aria-expanded=true] span:nth-child(1) {
	transform-origin: 10px 5px;
	transition: .5s;
	transform: rotate(45deg)
}
button.navbar-toggle[aria-expanded=true] span:nth-child(2) {
	transform: rotate(0);
	transition: .5s;
	width: 0!important;
	margin: 4px auto 0 auto
}
button.navbar-toggle[aria-expanded=true] span:nth-child(3) {
	transform: rotate(-45deg);
	transform-origin: 10px 0;
	transition: .5s
}
button.navbar-toggle[aria-expanded=false] span:nth-child(1) {
	transform-origin: 4px 0;
	transition: .5s;
	transform: rotate(0)
}
button.navbar-toggle[aria-expanded=false] span:nth-child(2) {
	transition: .5s;
	transform: rotate(0);
	width: 40px!important;
	margin: 4px auto 0 auto
}
button.navbar-toggle[aria-expanded=false] span:nth-child(3) {
	transform-origin: 4px 0;
	transition: .5s;
	transform: rotate(0)
}
.index-page .contents-section .features .cards .card {
    margin-bottom: 1rem;
    padding: 2.3rem;
    border-radius: 20px;
    border: none;
    transition: height 2s;
    transition-timing-function: linear;
}
.index-page .contents-section .features .cards .card .d-flex svg{
	margin-left: auto !important;
}