$primary-color: #f45d48;
.navbar-tf {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 40px 0px rgba(73, 73, 73, 0.4);
  .news {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 0;
    background-color: $primary-color;
    color: white;
    a {
      color: white;
      text-decoration: underline;
    }
  }
  .container {
    padding: 25px 0;
    display: flex;
    .logo {
      img {
        height: 45px;
        margin: 10px 0;
      }
    }

    .menu {
      margin: auto 0;

      display: flex;
      .menu-itm {
        margin-left: 40px;
        font-size: 20px;
        cursor: pointer;
        &:hover {
          color: $primary-color;
        }
      }
    }
    .login {
      cursor: pointer;
      margin: auto 0;
      margin-left: auto;
      margin-right: 40px;
      font-size: 18px;
      color: $primary-color;
      opacity: 0.8;
      font-weight: 600;
      &:hover {
        color: $primary-color;
        opacity: 1;
      }
    }
    .get-started {
      cursor: pointer;
      margin: auto 0;
      padding: 8px;
      font-size: 20px;
      border-radius: 8px;
      font-weight: 600;
      color: white;
      background-color: $primary-color;
    }
  }
  &-mobile {
    .news {
      padding: 10px;
      font-size: 0.9rem;
      text-align: left;
      background-color: $primary-color;
      color: white;
      a {
        color: white;
        text-decoration: underline;
      }
    }
    .nav-mobile {
      .head-nav {
        display: flex;
        height: 60px;
        justify-content: space-between;
        .logo {
          margin-left: 5%;
          display: flex;
          height: 100%;
          img {
            margin: auto 0;
            height: 70%;
          }
        }
      }
      .mobile-nav-content {
        flex-direction: column;
        display: none;
        .login-sign-up {
          display: flex;
          padding: 25px 15px;
          justify-content: space-between;
          width: 100%;
          border-bottom: 1px solid rgba(68, 68, 68, 0.356);
          .login {
            cursor: pointer;
            margin: auto 0;
            margin-right: 40px;
            font-size: 18px;
            color: $primary-color;
            opacity: 0.8;
            font-weight: 600;
            &:hover {
              opacity: 1;
            }
          }
          .get-started {
            cursor: pointer;
            margin: auto 0;
            padding: 6px;
            font-size: 18px;
            border-radius: 4px;
            font-weight: 600;
            color: white;
            background-color: $primary-color;
          }
        }
        .menu {
          display: flex;
          flex-direction: column;
          .menu-itm {
            cursor: pointer;
            padding: 15px;
            font-size: 18px;
            border-bottom: 1px solid rgba(68, 68, 68, 0.356);
          }
        }
      }
    }
    &.true {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      z-index: 4;
      padding: 3% 0;
      display: flex;
      flex-direction: column;
      .news {
        display: none;
      }
      .mobile-nav-content {
        display: flex;
      }
    }
  }
}
